.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 8px;
  width: 250px;
  height: 190px;

  .header {
    padding: 10px;

    img {
      margin-right: 10px;
    }
  }

  .body {
    padding: 10px;
  }

  .footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
