.container {
  .header {
    display: flex;

    .left {
      img {
        border: 1px solid black;
        width: 200px;
        margin: 20px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .galleryTitle {
        font-family: "넥슨고딕볼드";
      }
    }
  }

  .body {
    padding: 10px;
  }
}
